@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

.main_coupen_div{
    width:100%;
    height: 480px;
    background-image: linear-gradient(#97959540, #ffffff);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    
}
.coupen_heading{
    width: 860px;
    height: 36px;
    /* margin: 40px 0;/ */
    /* margin-top:-237px ; */
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background-color: yellow; */
}
.fashion_cards{
    height: 90px;
    width: 860px;
    background-color: #D9D9D9;
    display: flex;
    column-gap: 5px;


}
.fashion_card{
    width: 92px;
    border-radius: 8px 8px 0px 0px;
    background: #FFF;
    display: flex;
padding: 16px;
flex-direction: column;
align-items: center;
row-gap: 10px;
}
.image_container{
    width: 36px;
    height: 36px;
    background: url("../assets/fashion.png"), rgb(230, 230, 230) 50% / cover no-repeat;
}
.image_text{
    color: #091431;
text-align: center;
font-family: 'Roboto', sans-serif;
font-size: 12px;
font-style: normal;
font-weight: 500;
line-height: normal;
letter-spacing: .5pxpx;
}
.image_container2{
    
    width: 36px;
    height: 36px;
    background: url("../assets/food.png"), rgb(230, 230, 230) 50% / cover no-repeat;
}
.image_container3{
    width: 36px;
    height: 36px;
    background: url("../assets/beauty.png"), rgb(230, 230, 230) 50% / cover no-repeat;
}
.image_container4{
    width: 36px;
    height: 36px;
    background: url("../assets/toys.png"), rgb(230, 230, 230) 50% / cover no-repeat;
}.image_container5{
    width: 36px;
    height: 36px;
    background: url("../assets/hosting.png"), rgb(230, 230, 230) 50% / cover no-repeat;
}.image_container6{
    width: 36px;
    height: 36px;
    background: url("../assets/gaming.png"), rgb(230, 230, 230) 50% / cover no-repeat;
}.image_container7{
    width: 36px;
    height: 36px;
    background: url("../assets/mobile.png"), rgb(230, 230, 230) 50% / cover no-repeat;
}.image_container8{
    width: 36px;
    height: 36px;
    background: url("../assets/travel.png"), rgb(230, 230, 230) 50% / cover no-repeat;
}
.image_container9{
    width: 36px;
    height: 36px;
    background: url("../assets/movies.png"), rgb(230, 230, 230) 50% / cover no-repeat;
}
.remaining_div{
    height: 234px;
    width: 860px;
    background-color: #ffffff;
}

